.page {
  min-height: 100dvh;
  background: var(--color-bg);
  color: var(--color-text);
}

.page__hero {
  min-height: 100dvh;
  // background: -webkit-linear-gradient(130deg, #0b0b10, #200b0b);
  // background: linear-gradient(130deg, #0b0b10, #200b0b);
}

.page__main {
  border-radius: 40px;
  overflow: hidden;
  background: #222224;
}

.page__container {
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
}
